<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
  </head>
  <body>
    <h1>Welcome to My Recipes</h1>
    <ul>
      <% recipes.forEach(recipe => { %>
        <% if (recipe.owner == user._id) { %>
          <h3><%= recipe.name %></h3>
          <button onclick="location.href='recipes/<%= recipe._id %>'">Details</button>
        <% } %>
      <% }) %>
    </ul>
    <a href="recipes/new">Add New Recipe</a>
  </body>
</html>
